body {
	background: var(--color-gray-light);
}

.layout {
	max-width: 640px;
	margin: 20px;
	background: var(--color-light);

	@media (--screen-md) {
		margin: 20px auto;
	}
}

.header {
	background: var(--color-primary);
	color: var(--color-light);
}

.footer {
	color: var(--color-gray-medium);
}

.content {
	color: var(--color-dark);
}

.spacing-10 {
	font-size: 10px;
	line-height: 10px;
}
