body {
	background: var(--color-gray-light);
}

.layout {
	max-width: 640px;
	margin: 20px auto;
	background: var(--color-light);
}

@media all and (max-width: 680px) {
	.layout {
		margin: 20px !important;
	}
}

.header {
	background: var(--color-primary);
	color: var(--color-light);
}

.footer {
	color: var(--color-gray-medium);
}

.content {
	color: var(--color-dark);
}

.spacing-10 {
	font-size: 10px;
	line-height: 10px;
}
