body {
	background: var(--color-gray-light);
}

.layout {
	max-width: 640px;
	margin: 20px auto;
	background: var(--color-light);
}

.header {
	background: var(--color-primary);
	color: var(--color-light);
	padding: 20px;
}

.footer {
	color: var(--color-gray-medium);
	padding: 0 20px 20px;
}

.content {
	color: var(--color-dark);
	padding: 0 20px;
}
