:root {

	/* Colors ----------------------------------------------------- */
	--color-primary: #1f2d3d;
	--color-secondary: #8492a6;
	--color-tertiary: #f7f7f7;
	--color-dark: #000;
	--color-light: #fff;
	--color-gray-light: #e5e5e5;
	--color-gray-medium: #666666;
	--color-gray-dark: #4a4a4a;
	--color-success: #28a745;
	--color-error: #dc3545;
	--color-warning: #ffc107;
	--color-info: #17a2b8;

	/* Fonts ------------------------------------------------------ */
	--font-text: 'Roboto', Arial, Helvetica, sans-serif;
	--font-head: var(--font-text);
	--font-special: var(--font-text);
	--font-mono: var(--font-text);

	/* Font Sizes ------------------------------------------------- */
	--size-text: 16px;
	--lineheight-text: 1.5;
}
